
@mixin btn-black {
    padding: 15px 45px 16px 45px;
    border: none;
    // width: 181px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: #333333;
    
}

@mixin btn-black-hover {
    background: #FFBD54;
    color: #333333;
}

@mixin btn-black-active {
    color: rgba(51, 51, 51, 1);
    background: rgba(255, 189, 84, 1);
    opacity: 0.5;
}

@mixin btn-yellow {

     padding: 15px 0px 16px 0px;
    border: none;
    width: 181px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: #FFBD54;
}

@mixin btn-yellow-hover {
    background: #333333;
    color: #FFBD54;

}

@mixin btn-yellow-active {
    background: rgba(51, 51, 51, 1);
    color: #FFBD54;
    opacity: 0.5;
}